<!doctype html>
<html data-framework="vue">
	<head>
		<meta charset="utf-8">
		<title>Vue.js • TodoMVC</title>
		<link rel="stylesheet" href="base.css">
		<link rel="stylesheet" href="index.css">
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo"  autofocus autocomplete="off"
				v-model="newTodo"
				@keyup.enter="addTodo"
				placeholder="What needs to be done?" >
			</header>
			<section class="main">
				<ul class="todo-list">
				<li v-for="todo in filteredTodos" :class="{completed: todo.completed, editing: todo == editedTodo}">
					<div class="view">
						<input class="toggle" type="checkbox" v-model="todo.completed">
						<label @dblclick="editTodo(todo)">{{ todo.title }}</label>
						<button class="destroy" @click="removeTodo(todo)"></button>
					</div>
					<input class="edit" type="text"
					v-model="todo.title"
					@blur="doneEdit(todo)"
					@keyup.enter="doneEdit(todo)">
				</li>
				</ul>
				<input id="toggle-all" class="toggle-all" type="checkbox">
				 <label for="toggle-all">Mark all as complete</label>
				
			</section>

		<footer class="footer">
			<ul class="filters">
				<li><a href="#" @click.prevent="visibility='all'" :class="{selected: visibility == 'all' }">All</a></li>
				<li><a href="#" @click.prevent="visibility='active'" :class="{selected: visibility == 'active' }">Active</a></li>
				<li><a href="#" @click.prevent="visibility='completed'" :class="{selected: visibility == 'all' }">Completed</a></li>
			</ul>
		</footer>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Written by <a href="http://evanyou.me">Evan You</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>

		<script src="main.js"></script>
	</body>
</html>
